# Ignore large data folders
Annotations/
ISIC Images/
Dataprocess/
CGCL/__pycache__/
CGCL/checkpoints/
CGCL/datasets/__pycache__/
CGCL/models/__pycache__/
CGCL/models/backbones/__pycache__/
CGCL/models/CGCL/__pycache__/
Annotated_data/
CGCL/logs/
command.txt
# Alternatively, use quotes for paths with spaces:
# "ISIC Images/"
